modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true
integrations = ["python_log_in_with_replit==1.0.0", "python_database==1.0.0", "javascript_object_storage==1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["freetype", "ghostscript", "glibcLocales", "gumbo", "harfbuzz", "jbig2dec", "jbig2enc", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libjpeg_turbo", "libpq", "libtiff", "libwebp", "libxcrypt", "mupdf", "ocrmypdf", "openjpeg", "pngquant", "poppler", "postgresql", "qpdf", "redis", "swig", "tcl", "tesseract", "tk", "unpaper", "xcbuild", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "BOMMagic Server"

[[workflows.workflow]]
name = "BOMMagic Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
